{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <title>Cadastrar</title>
</head>

<body>
    <div class="container">
        <h1>Cadastre-se</h1>
        <form action="{% url 'login' %}" method="post" autocomplete="none" class="form">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Senha</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            {% buttons %}
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            {% endbuttons %}
        </form>
    </div>

    {% bootstrap_javascript jquery='full' %}
</body>

</html>